/* h1 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 26px;
    color:#ff0000;
    text-align: center;
}

h2 {
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 16px;
    color:#14b637;
    text-align: center;
} */

/* body {
    font-family: "Lucida Console", Monaco, monospace;
    background-color: #d08c8c;
} */


/* .center{
    margin: auto;
    width: 50%;
    background-color: #7b00ff;
    padding: 5px;
    
} */
/* .image-container{
    display: flex;
    justify-content: center;
 
} */
/* 
.box {
    height: 100px;
    width: 850px;
    padding: 15px;
    margin: 8px auto;
    border: 5px solid rgb(198, 2, 233);
    background-color: #00ffff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 12px;
    color: #266c42;
    letter-spacing: 2px;
  }
  */
